---
import Card from "@ui/Card.astro";
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";

---

<Container>
    <Section className="flex justify-start gap-4">

        <Card 
            title="+10 Years of Experiences"/>
        <Card
            title="Premium Woods"/>
        <Card
            title="Modern Equipment"/>       

    </Section>
</Container>