---
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";
import Icon from "@ui/Icon.astro";

---

<Container idName="company">
    <Section className="flex gap-10">
        <div class="border border-red-200 p-10 relative">
            <div class="relative w-80 h-72 bg-yellow-100 z-10"></div>
            <div class="w-32 h-56 bg-slate-400 absolute top-0 right-0 z-0"></div>
        </div>
        <div class="border border-green-200 w-full p-10">
            <p class="uppercase text-base mb-4">
                Welcome to Designer Wood Cabinets
            </p>
            <h3 class="text-2xl mb-4">
                We help you redesign every corner of your home
            </h3>
            <p class="mb-4">
                alguna sarasa por aca Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem mollitia sint pariatur ullam architecto. Explicabo similique deleniti qui sequi. Nulla et tempora aspernatur illum inventore quam ducimus quasi ab accusamus.
            </p>
            <div class="flex ">
                <ul class="w-full">
                    <li class="flex gap-2">
                        <Icon name="logo" className="h-6"/>
                        Item 1
                    </li>
                    <li class="flex gap-2">
                        <Icon name="logo" className="h-6"/>
                        Item 2
                    </li>
                    <li class="flex gap-2">
                        <Icon name="logo" className="h-6"/>
                        Item 3
                    </li>
                </ul>
                <ul class="w-full">
                    <li class="flex gap-2">
                        <Icon name="logo" className="h-6"/>
                        Item 4
                    </li>
                    <li class="flex gap-2">
                        <Icon name="logo" className="h-6"/>
                        Item 5
                    </li>
                    <li class="flex gap-2">
                        <Icon name="logo" className="h-6"/>
                        Item 6
                    </li>
                </ul>
            </div>
            
        </div>
    </Section>
</Container>