---
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";

---

<Container idName="contact">
    <Section>
        <div>
            <h3>
                ¿Listos para empezar tu proyecto?
            </h3>
            <p>
                Contáctanos y hablemos sobre cómo podemos transformar tu visión en realidad con nuestro servicio excepcional y atención al detalle.
            </p>
        </div>
    </Section>
</Container>