---
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";

---

<Container idName="contact">
    <Section>
        Contact
    </Section>
</Container>