---
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";
import Title from "./ui/Title.astro";

---

<Container idName="contact" className="bg-[var(--brand-gray-100)]">
    <Section className="">
        <Title
            title="¿Listos para empezar tu proyecto?"
        />
        <div>
            <h3>
                
            </h3>
            <p>
                Contáctanos y da el primer paso hacia la remodelación que siempre has querido
            </p>
        </div>
    </Section>
</Container>