---
import Container from "./scaffolding/Container.astro";
import Section from "./scaffolding/Section.astro";

---
<Section className="bg-red-100">
    <Container className="bg-white">
        Hero
    </Container>
</Section>