---
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";
import Portofolio from "./ui/Portofolio.astro";
import Title from "./ui/Title.astro";

const images = [
  { src: "src/assets/images/hero.jpg", alt: "hola", title: "que tul"},
  { src: "src/assets/images/kitchen-1.jpg", alt: "hola", title: "holis"},
  { src: "src/assets/images/kitchen-1.jpg", alt: "hola", title: "holis"},
  { src: "src/assets/images/kitchen-1.jpg", alt: "hola", title: "holis"},
  { src: "src/assets/images/hero.jpg", alt: "hola", title: "holis"},
  { src: "src/assets/images/kitchen-1.jpg", alt: "hola", title: "holis"},
  { src: "src/assets/images/kitchen-1.jpg", alt: "hola", title: "holis"},
  { src: "src/assets/images/kitchen-1.jpg", alt: "hola", title: "holis"},
  
]
---

<Container>
    <Section>
      <Title
        title="Proyectos"
      />
        <Portofolio images={images}/>
    </Section>
</Container>